<div class="mt-4">
    <h3>Danh sách quản trị viên</h3>
    <a class="btn btn-success" href="/admins/create">
        <i class="bi bi-plus-circle"></i> Thêm quản trị viên
    </a>

    <div class="mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên đăng nhập</th>
                    <th scope="col">Quyền hạn</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each admins}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.admin_name}}</td>
                    <td>
                        {{#if (eq this.power 0)}}
                        <span class="badge bg-danger">Quản trị viên cấp cao</span>
                        {{else if (eq this.power 1)}}
                        <span class="badge bg-primary">Quản trị viên</span>
                        {{else}}
                        <span class="badge bg-warning">Quản trị viên cấp thấp {{this.power}}</span>
                        {{/if}}
                    </td>
                    <td>{{formatDate this.createdAt}}</td>
                    <td>
                        {{#if (gt this.power ../currentUser.power)}}
                        <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#editAdminModal" data-admin-id="{{this._id}}"
                            data-admin-name="{{this.admin_name}}" data-power="{{this.power}}">
                            <i class="bi bi-pencil"></i> Sửa
                        </button>

                        <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal" data-admin-id="{{this._id}}"
                            data-admin-name="{{this.admin_name}}">
                            <i class="bi bi-trash"></i> Xóa
                        </button>
                        {{else}}
                        <span>Không có quyền thực thi</span>
                        {{/if}}
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">Không có quản trị viên nào.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa admin "<span id="adminNameToDelete"></span>"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Hidden delete form -->
<form id="deleteForm" method="POST" style="display: none;"></form>

{{!-- Update admin modal --}}
<div class="modal fade" id="editAdminModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa quyền cho "<span id="adminNameToUpdate"></span>"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="editAdminForm" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="editAdminPower" class="form-label">Quyền (<strong>càng thấp càng mạnh và chỉ nhập
                                được số
                                0-10</strong>)</label>
                        <input type="number" class="form-control" id="editAdminPower" name="power" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // chức năng xóa admin
        const adminNameToDelete = document.getElementById('adminNameToDelete');
        const deleteModal = document.getElementById('deleteModal');
        const confirmDelete = document.getElementById('confirmDelete');
        const deleteForm = document.getElementById('deleteForm');
        let adminIdToDelete;


        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            adminIdToDelete = button.getAttribute('data-admin-id');
            const adminName = button.getAttribute('data-admin-name');
            adminNameToDelete.textContent = adminName;
        });

        confirmDelete.addEventListener('click', function () {
            deleteForm.action = `/admins/${adminIdToDelete}?_method=DELETE`
            deleteForm.submit();
        })

        // chức năng thay đổi quyền hạn
        const editAdminModal = document.getElementById('editAdminModal')
        const editAdminForm = document.getElementById('editAdminForm')
        const editAdminPower = document.getElementById('editAdminPower')
        const adminNameToUpdate = document.getElementById('adminNameToUpdate')
        let adminIdToUpdate

        editAdminModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget
            adminIdToUpdate = button.getAttribute('data-admin-id')
            const adminName = button.getAttribute('data-admin-name')
            const power = button.getAttribute('data-power')
            adminNameToUpdate.textContent = adminName
            editAdminPower.value = power
        })

        editAdminForm.addEventListener('submit', function (e) {
            e.preventDefault()
            editAdminForm.action = `/admins/${adminIdToUpdate}?_method=PATCH`
            editAdminForm.submit()
        })
    })
</script>